@media (max-width: 1267px){
    .registration button {
        padding: 8px 4px;
    }
    .registration a{
        font-size: 6px;
    }
    .conteiner_header a {
        margin: 0px 10px;
        font-size: 18px;
    }
}
@media (max-width: 1031px){
    .conteiner_header {
        gap: 30px;
    }
}
@media (max-width: 998px){
    
    .conteiner_header {
        grid-template-columns: 20fr 1fr;
        gap: 150px;
        padding: 0%;
    }
    .menu{
        display: none;
    }
    .hamb{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .hamb_field{
        padding: 10px;
        cursor: pointer;
    }
    .bar{
        display: flex;
        width: 40px;
        height: 4px;
        margin: 6px auto;
        background-color: rgb(0, 0, 0);
        transition: 0.4s;
        justify-content: flex-end;
    }
    .pop{
        top: 90px;
        right: -100%;
        width: 50%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 100;
        display: flex;
        transition: 0.4s;
        position: fixed;
    }
    .pop.open{
        right: 0;
    }
    .pop .menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .pop .menu a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 5px 0px;
    }
    .pop .menu button{
        margin: 5px 0;
        padding: 8px 15px;
    }
}

@media (max-width: 790px){
    .main{
        flex-direction: column;
    }
    .conteiner img{
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 620px){
    .conteiner img{
        width: 100%;
    }
    .conteiner_header {
        grid-template-columns: 20fr 2fr;
        gap: 20px;
    }
}