@media (max-width: 1162px){
    .conteiner_footer iframe{
        width: 70%;
    }
    .conteiner_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 802px){
    .form {
        flex-direction: column;
        padding: 20px 10px;
    }
    .text_form {
        width: 90%;
        text-align: center;
    }
    .form button{
        margin: 10px auto;
    }
}
@media (max-width: 790px){
    .conteiners{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .card{
        height: 50%;
    }
}